# Main doc: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/introduction-to-github-actions
# Runners spec: https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners
# Glob expressions: https://github.com/actions/toolkit/tree/main/packages/glob

name: Ubuntu

###############################################################################
# Schedule:
# - push on any branch whose name matches v** or master
# - any pull request
###############################################################################
on:
  push:
    branches:
      - 2021.02
      - 2021.09
      - master
  pull_request:
    branches:
      - '**'
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      platform:
        description: 'Arguments for the platform script:'
        required: true
        default: '-extent=f -parallel=p -jobs=2 -vst=y -compcert=y'

###############################################################################
# Platform script options shared among all jobs
###############################################################################
env:
  PLATFORM_ARGS: -extent=f -parallel=p -jobs=2 -vst=y -compcert=y
  COQREGTESTING: y

###############################################################################
# Ubuntu
#
# CAVEATS:
# - you need bubblewrap or the script fails
# - build-essential pulls in the C toolchain
###############################################################################
jobs:
  Ubuntu_platform:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        variant:
          - '8.14'
          - '8.13'

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Set PLATFORM
        if: ${{ github.event.inputs.platform != '' }}
        run: echo "PLATFORM=${{ github.event.inputs.platform }}" >> $GITHUB_ENV

      - name: Install bubblewrap and build-essential
        run: |
          sudo apt-get update
          sudo apt-get install bubblewrap build-essential

      - name: Run common platform script
        shell: bash
        run: ./coq_platform_make.sh  -packages=${{matrix.variant}} $PLATFORM_ARGS -dumplogs

      - name: Create smoke test kit
        shell: bash
        run: |
          eval $(opam env)
          shell_scripts/create_smoke_test_kit.sh

      - name: 'Run Linux smoke test kit'
        shell: bash
        run: |
          eval $(opam env)
          smoke-test-kit/run-smoke-test.sh
